# Banco de Dados
DATABASE_URL="postgresql://postgres:senha_segura_123@localhost:5432/avaliador_rio?schema=public"

# Configurações de E-mail (Nodemailer)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="seu-email@gmail.com"
SMTP_PASS="sua-senha-de-aplicativo"

# Segurança do Painel CRM
NEXTAUTH_SECRET="gerar_um_hash_md5_ou_sha256_super_seguro_aqui"
NEXTAUTH_URL="http://localhost:3000"